@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Permanent+Marker&display=swap');

.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 670px 700px 550px;
    background-color: #f8f6f6;
    width: 100%;
    /* border: 2px solid black; */
    gap: 5px;
    /*margin-bottom: auto;This is used to center things.*/
}

.header{
    grid-column-start: 1;
    grid-column-end: 4; /*This should end before the last column. Same with rows*/
    grid-row-start: 1;
    grid-row-end: 2; 
    /* background-color: aqua; */
}   
nav{
    font-family: 'Josefin Sans';
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(240, 137, 12);
  }
  .nav-links{
    display: inline-block;
    align-items: right;
    list-style: none;
    padding-right: 50px;
  }
  nav ul li a{
    text-decoration: none;
  }
  nav ul li{
    display: inline-block;
    list-style: none;
    margin: -5px 10px 
  }
  nav ul{
    flex: 1;
    text-align: right;
  }

  nav h2{
    padding-left: 20px;
  }
  .header h2{
    width: 25%;
    height: 25%;
  }
.header img{
    height: 25px;
    width: 25px;
}
.header .logo{
    width: 60px;
    height: 60px;
    display: flex;
    align-items: left;
    padding-left: 50px;
}
.form-button{
    font-family: 'Josefin Sans';
    text-align: center;
}
.form-button h1{
    color: #fff;
}
.deet-button,
.deet-button:visited{
    color: #fff;
    padding: 10px;
    background: rgb(189, 26, 20);
    border-radius: 20px;
    border: 2px solid transparent;
    box-sizing:content-box;
    transition: all .3s;
}
.deet-button:hover,
.deet-button:active{
  color: rgb(245, 241, 241);
  background: transparent;
  border: 2px solid red;
  box-shadow: 0px 0px 10px rgba(255,255,0,0.45);
}
.deet-button{
  text-decoration: none;
  width: 100px;
  height: 20px;
  text-align:center;
  font-size:medium;
}
.form-class{
    height: 58%;
    width: 100%;
}
.form-class .form{
    height: 160%;
    width: 100%;
    border-bottom-left-radius: 0.5%;
    border-bottom-right-radius: 0.5%;
}
.upcoming-p{
  font-family: 'Josefin Sans';
  font-size: large;
  margin-left: 15%;
}
.upcoming1 h1{
  margin-left: 25px;
  margin-bottom: 25%;
}
.upcoming1{
  height:50%;
  width: 51%;
}
.upcoming1 p{
  margin-left: 20%;
}
.mask_image{
  margin-left: 20%;
  height: 85%;
  width: 150%;
  border-radius: 5%;
  padding-bottom: 0%;
  transition:0.3s;
}
.mask_image:hover{
  height: 92%;
  width: 160%;
}
.upcoming2{
  height:100%;
  width: 60%;
}

.singing_image{
  margin-top: 200px;
  margin-left: 15%;
  height: 43%;
  width: 140%;
  border-radius: 5%;
  transition:0.3s;
}
.singing_image:hover{
  height: 48%;
  width: 145%;
}
.upcoming3{
  height:55%;
  width: 50%;
}
.upcoming3 p{
  margin-left: 20%;
}
.poetry_image{
  margin-top: 200px;
  margin-left: 20%;
  height: 80%;
  width: 150%;
  border-radius: 5%;
  transition:0.3s;
}
.poetry_image:hover{
  height: 90%;
  width: 160%;
}
.upcoming1 h1{
  font-family: 'Permanent Marker';
}

.connect{
  background-color: black;
  height: 300px;
  width: 100%;
  margin-top: -7%;
}

.connect p{
  font-family: 'Permanent Marker';
  color:rgb(240, 137, 12);
  font-size: 310%;
  margin-top: -180px;
  margin-left: 15%;
  transition: 0.3s;
}
.connect p:hover{
  font-size: 330%;
  color:bisque;
  
}
.connect-img{
  height: 100%;
  width: 20%;
  margin-left: 55%;
}

.footer-links{
  background-color: rgb(1, 1, 14);
  height: 150px;
  width: 100%;
  font-family: 'Josefin Sans';
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; 
  transition: 0.3s ease-out;
  padding: 2rem 0 4rem 0;
}
.footer .footer-1{
  color: rgb(240, 137, 12);
  margin-left: 10%;
  display: flex;
  flex-direction:column;
}
.footer .footer-1 a{
  color:rgb(240, 137, 12);
  text-decoration: none;

}
.footer .footer-2{
  color: rgb(240, 137, 12);
  margin-left: 5%;
  display: flex;
  flex-direction: column;
}
.footer .footer-3{
  color: rgb(240, 137, 12);
  margin-left: 5%;
  display: flex;
  flex-direction: column;
}
.footer-links a{
  color: rgb(240, 137, 12);
  padding-bottom: 5%;
  text-decoration: none;
}
.footer-links a:hover{
  color: bisque;
  transition: 0.3s;
}
.footer .news-letter-form{
  color: rgb(240, 137, 12);
  align-self: left;
  margin-right: 15%;
  display: flex;
  flex-direction: column;
}
.news-letter-form .sign-up-btn{
  color:bisque;
  background-color: red;
  font-size: medium;
  border: none;
  outline: none;
  width: 100%;
  height: 30px;
  margin-top: 5%;
  border-radius: 10px;
  border: 2px solid transparent;
  box-sizing:content-box;
  transition: all .3s;
}
.news-letter-form .sign-up-btn:hover,
.news-letter-form .sign-up-btn:active{
  color: rgb(245, 241, 241);
  background: transparent;
  border: 2px solid red;
  box-shadow: 0px 0px 10px rgba(255,255,0,0.45);
}
.news-letter-form .news-letter-email{
  width: 130%;
  height: 25%;
  border-radius: 5px;
  outline: none;
  border: none;
  padding-left: 0.5rem;
  font-size: 1rem;
  margin-bottom: 1rem;
}
.news-letter-form .news-letter-email::placeholder{
  color: #b1b1b1;
}

.upcoming1{
    grid-column: 1 / 2;/*This is used as grid column start / end.*/
    grid-row: 2 / 3;
    margin-top: 20px;
}

.upcoming2{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    margin-top: 20px;

}

.upcoming3{
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    margin-top: 10px;
}

.footer{
    grid-column: 1 / 4;
    grid-row: 3 / 4;
    margin-top: 7%;

    height: 100%;
    width: 100%;

  }


@media screen and (max-width: 1150px) {
  .mask_image{
    height: 200px;
    width: 280px;
    border-radius: 5%;
    transition:0.3s;
  }
  .mask_image:hover{
    height: 220px;
    width: 290px;
  }
  .singing_image{
    margin-top: 77%;
    height: 200px;
    width: 280px;
    border-radius: 5%;
    transition:0.3s;
  }
  .singing_image:hover{
    height: 220px;
    width: 290px;
  }
  .poetry_image{
    margin-top: 90%;
    height: 200px;
    width: 280px;
    border-radius: 5%;
    transition:0.3s;
  }
  .poetry_image:hover{
    height: 220px;
    width: 290px;
  }
}

@media screen and (max-width: 570px){
    .container{
        display:block;
        gap: 5px;
        width: auto; /*This is used to center things.*/
        height: auto;
    }
    .header{
      height: 430px;
      width: auto;
  
    }
    .upcoming1{
      margin-top: 130px;
      height:50%;
      width: 51%;
    }
    nav{
      height: 100px;
    }
    .mask_image{
      height: 250px;
      width: 350px;
      border-radius: 5%;
      /* padding-bottom: 80px; */
      transition:0.3s;
    }
    .singing_image{
      margin-top: 20%;
      height: 250px;
      width: 350px;
      border-radius: 5%;
      transition:0.3s;
    }
    .poetry_image{
      margin-top: 18%;
      height: 250px;
      width: 330px;
      border-radius: 5%;
      transition:0.3s;
    }
    .connect{
      background-color: black;
      height: 50%;
      width: 100%;
      margin-top: 50px;
      margin-right: 25px;
      transition: 0.3s;
    }
    .connect-img{
      height: 100%;
      width: 40%;
      margin-left: 150px;
    }
    .footer-links{
      margin-top: -70px;
      display: flex;
      height: 110%;
      width: 100%;
      justify-content: center;

    }
    .footer .connect p{
        margin-top: -10px;
        margin-left: 50px;
    }
    .footer .footer-1{
      margin-left: 26px;
    }
    
    .footer .news-letter-form h2{
      margin-left: 26px;
    }
    .footer .news-letter-form .news-letter-email{
      width: 220px;
      height: 40px;
      border-radius: 5px;
      outline: none;
      border: none;
      padding-left: 0.5rem;
      font-size: 1rem;
      margin-bottom: 1rem;
      margin-left: 26px;
    }
    .footer .news-letter-form .sign-up-btn{
      margin-left: 26px;
      width: 120px;
    }

}

/* EVENTS PAGE */

.header .event-month hr{
  background-color: rgb(240, 137, 12);
  padding: 1px;
}
.event-calendar{
  display: inline-flex;
  width: 100%;
  justify-content:space-around;
}

.event-block{
  margin-top: none;
  height: 160px;
  width: 100%;
  background-color: black;
  text-align: center;
}
.event-block h1{
  font-family: Helvetica, Arial, sans-serif;
  font-size: 50px;
  color: #fff;
  margin-top: 0px;
  padding-top:40px;

}
.event-month{
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
  margin-top: 3%;
  margin-bottom: 3%;
}
.event-month h1{
  font-size: 30px;
}
.event-img-box{
  height: 350px;
  width: 25%;
  /* border: 5px solid #555; */
  background-color: #fff;
  border-radius: 10px;
  transition: 0.3s;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.event-calendar .form_image{
  height: 200px;
  width: 100%;
  align-items: center;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  
}
.event-img-box:hover{
  height: 370px;
  width: 26%;
}
.event-footer-connect{
  background-color: rgb(0, 0, 0);
  height: 300px;
  width: 100%;
  font-family: 'Josefin Sans';
  align-items:center;
  transition: 0.3s;

}
.event-footer-connect:hover div p{
  color: rgb(255, 228, 196);
}
.event-footer-connect .event-connect .connect-img{
  height: 300px;
  width: 350px;
  align-self: right;
  margin-left: 1000px;
}
.event-footer-connect .event-connect p{
  color:rgb(240, 137, 12);
  font-size: 50px;
  margin-top: -150px;
  margin-left: 150px;
  font-family: 'Permanent Marker';
  }

.event-footer-links{
  background-color: black;
  height: 210px;
  width: 100%;
  margin-top: 0px;
  display: inline-flex;
  justify-content: space-around;
  font-family: 'Josefin Sans';
  
}
.event-footer-links .event-link-1{
  width: 30%;
  padding-left: 40px;
}
.event-footer-links .event-link-2{
  width: 30%;
}
.event-footer-links .event-link-3{
  width: 30%;
}
.event-footer-links .event-link-4{
  width: 30%;
}
.event-footer-links .event-link-1 h2{
  color: rgb(240, 137, 12);
}
.event-footer-links .event-link-1 a{
  color: rgb(240, 137, 12);
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  text-decoration: none;
}
.event-footer-links .event-link-1 a:hover{
  color: rgb(245, 227, 204);
}
.event-footer-links .event-link-2 h2{
  color: rgb(240, 137, 12);
}
.event-footer-links .event-link-2 a{
  color: rgb(240, 137, 12);
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  text-decoration: none;
}
.event-footer-links .event-link-2 a:hover{
  color: rgb(245, 227, 204);
}
.event-footer-links .event-link-3 h2{
  color: rgb(240, 137, 12);
}
.event-footer-links .event-link-3 a{
  color: rgb(240, 137, 12);
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  text-decoration: none;
}
.event-footer-links .event-link-3 a:hover{
  color: rgb(245, 227, 204);
}
.event-footer-links .event-link-4 h2{
  color: rgb(240, 137, 12);
}

.event-link-4 .event-sign-up-btn{
  color:bisque;
  background-color: red;
  font-size: medium;
  border: none;
  outline: none;
  width: 30%;
  height: 25px;
  margin-top: 2%;
  border-radius: 10px;
  border: 2px solid transparent;
  box-sizing:content-box;
  transition: all .3s;
}
.event-link-4 .event-sign-up-btn:hover,
.event-link-4 .event-sign-up-btn:active{
  color: rgb(245, 241, 241);
  background: transparent;
  border: 2px solid red;
  box-shadow: 0px 0px 10px rgba(255,255,0,0.45);
}
.event-link-4 .event-news-letter-email{
  width: 80%;
  height: 25%;
  border-radius: 5px;
  outline: none;
  border: none;
  padding-left: 0.5rem;
  font-size: 1rem;
  margin-bottom: 1rem;
}
.news-letter-form .event-news-letter-email::placeholder{
  color: #b1b1b1;
}
/*MOBILE EVENTS PAGE*/
@media screen and (max-width: 1128px){
  
  .event-footer-connect{
    width: -100px;
  }
  .event-footer-connect .event-connect .connect-img {
    margin-left: 550px;
  }
  .event-footer-connect .event-connect p{
    margin-left: 70px;
    margin-top: -190px;
  }
  .event-img-box{
    width: 30%;
  }
}
@media screen and (max-width: 530px){
  .header{
    width: 650px;
    width: 100%;
  }
  nav{
    display: flexbox;
  }
  .event-footer-connect{
    width: 100%;
    /* display: flex;
    margin-top: 1400px; */
    /* border: 2px solid black; */
  }
  .event-footer-connect .event-connect{
    height:200px;
    width: 177%;
    margin-top: 1350px;
  }
  /* .event-footer-connect .event-connect .connect-img{
    width: 50%;
    margin-left: 450px;
  } */
  .event-footer-links{
  width: 176%;
  }
  .header .orchestra-div{
    height: 300px;
  }
  .orchestra-div .orchestra-img{
    height: 240px;
  }
}
/* MENU PAGE */

.food-drink-menu{
  height: auto;
  font-family: 'Josefin Sans';
}
.food-drink-menu .food-menu-1{
  background-color: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  width:35%;
  height: 200px;
  display: flex;
  justify-content: space-around;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  /* border: 2px solid black; */
}

.food-drink-menu .food-menu-1 .food-drink-desc{
  height: 90px;
}


.food-drink-menu .food-menu-1 .salad{
  border-radius: 10px;
  /* padding-left: 90px; */
  height: 200px;
  width: 250px;
  
}

.food-drink-menu .food-menu-2{
  background-color: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-top: 50px;
  width:42%;
  height: 200px;
  display: flex;
  justify-content: space-around;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  /* border: 2px solid black; */
}

.food-drink-menu .food-menu-2 .grilled{
  border-radius: 10px;
  height: 200px;
  width: 250px;
}

.food-drink-menu .food-menu-3{
  background-color: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-top: 50px;
  width:43%;
  height: 200px;
  display: flex;
  justify-content: space-around;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  /* border: 2px solid black; */
}

.food-drink-menu .food-menu-3 .empanadas{
  border-radius: 10px;
  height: 200px;
  width: 250px;
}
.food-drink-menu .food-menu-3 .food-drink-desc{
  height: 90px;
}
.food-drink-menu .food-menu-4{
  background-color: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-top: 50px;
  width:35%;
  height: 200px;
  display: flex;
  justify-content: space-around;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  /* border: 2px solid black; */
}

.food-drink-menu .food-menu-4 .wine{
  border-radius: 10px;
  height: 200px;
  width: 250px;
}
.food-drink-menu .food-menu-4 .food-drink-desc{
  height: 90px;
  padding-right: 15px;
}


  /*Connect and footer*/
.menu-footer-connect{
  background-color: black;
  margin-top: 820px;
  height: 300px;
  width: 301%;
  border: 2px solid black;
  color: rgb(240, 137, 12);
  transition: 0.3s;
}
.menu-footer-connect:hover{
    color: bisque;
}
.menu-footer-connect .connect-img{
  height:300px;
  width: 350px;
}
.menu-footer-connect p{
  font-size: 50px;
  font-family: 'Permanent Marker';
  margin-top: -200px;
  margin-left: 300px;
}
.menu-footer-links{
  font-family: 'Josefin Sans';
  color: rgb(240,137,12);
  background-color: black;
  display: flex;
  justify-content: space-between;
  margin-top: 1120px;
  margin-right: 400px;
  margin-left: -630px;
  height: 200px;
  width: 301%;
  border: 2px solid black;
}
.menu-footer-links .event-link-1{
  margin-left: 50px;
  flex-direction: column;
}
.menu-footer-links .event-link-2{
  display: flex;
  flex-direction: column;
}
.menu-footer-links .event-link-3{
  display: flex;
  flex-direction: column;
}
.menu-footer-links .event-link-1 a{
  color: rgb(240,137,12);
  transition: 0.3s;
  text-decoration: none;
}
.menu-footer-links .event-link-1 a:hover{
  color: bisque;
}
.menu-footer-links .event-link-2 a{
  color: rgb(240,137,12);
  transition: 0.3s;
  text-decoration: none;
}
.menu-footer-links .event-link-2 a:hover{
  color: bisque;
}
.menu-footer-links .event-link-3 a{
  color: rgb(240,137,12);
  transition: 0.3s;
  text-decoration: none;
}
.menu-footer-links .event-link-3 a:hover{
  color: bisque;
}

/* LOCATION PAGE */

.header .orchestra-div{
  background-color: black;
  font-family: 'Josefin Sans';
  display: flex;
  align-items: center;
  height: 700px;
  width: 100%;
  justify-content: center;
  border: 2px solid black;
}
.orchestra-div .orchestra-img{
  border-radius: 100px;
  height: 600px;
  width: 70%;
}

.location-word-div h1{
  font-family: 'Josefin Sans';
  margin-left: 45%;
  justify-content: center;
}
.main-map-div{
  font-family: 'Josefin Sans';
  width: 100%;
  height: 650px;
}
.main-map-div .map-div{
  margin-top: 50px;
  justify-content: center;
  display: flex;
}
.main-map-div .map-desc{
  text-align: center;
  display: block;
}
.loc-footer-connect{
  background-color: black;
  margin-top: 1220px;
  height: 300px;
  width: 301%;
  color: rgb(240, 137, 12);
  transition: 0.3s;
}
.loc-footer-connect:hover{
    color: bisque;
}
.loc-footer-connect .connect-img{
  height:300px;
  width: 350px;
}
.loc-footer-connect p{
  font-size: 50px;
  font-family: 'Permanent Marker';
  margin-top: -200px;
  margin-left: 300px;
}
.loc-footer-links{
  font-family: 'Josefin Sans';
  color: rgb(240,137,12);
  background-color: black;
  display: flex;
  justify-content: space-between;
  margin-top: 1520px;
  margin-right: 400px;
  margin-left: -630px;
  height: 200px;
  width: 301%;
}
.loc-footer-links .loc-link-1{
  margin-left: 50px;
  flex-direction: column;
}
.loc-footer-links .loc-link-2{
  display: flex;
  flex-direction: column;
}
.loc-footer-links .loc-link-3{
  display: flex;
  flex-direction: column;
}
.loc-footer-links .loc-link-1 a{
  color: rgb(240,137,12);
  transition: 0.3s;
  text-decoration: none;
}
.loc-footer-links .loc-link-1 a:hover{
  color: bisque;
}
.loc-footer-links .loc-link-2 a{
  color: rgb(240,137,12);
  transition: 0.3s;
  text-decoration: none;
}
.loc-footer-links .loc-link-2 a:hover{
  color: bisque;
}
.loc-footer-links .loc-link-3 a{
  color: rgb(240,137,12);
  transition: 0.3s;
  text-decoration: none;
}
.loc-footer-links .loc-link-3 a:hover{
  color: bisque;
}
/* .loc-footer-links .loc-link-4 h2{
  color: rgb(240, 137, 12);
} */

.loc-link-4 .loc-sign-up-btn{
  color:bisque;
  background-color: red;
  font-size: medium;
  border: none;
  outline: none;
  width: 30%;
  height: 25px;
  margin-top: 2%;
  border-radius: 10px;
  border: 2px solid transparent;
  box-sizing:content-box;
  transition: all .3s;
}
.loc-link-4 .loc-sign-up-btn:hover,
.loc-link-4 .loc-sign-up-btn:active{
  color: rgb(245, 241, 241);
  background: transparent;
  border: 2px solid red;
  box-shadow: 0px 0px 10px rgba(255,255,0,0.45);
}
.loc-link-4 .loc-news-letter-email{
  width: 80%;
  height: 25%;
  border-radius: 5px;
  outline: none;
  border: none;
  padding-left: 0.5rem;
  font-size: 1rem;
  margin-bottom: 1rem;
}
.loc-link-4 .loc-news-letter-email::placeholder{
  color: #b1b1b1;
}